<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">Top navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        <a class="nav-link" id="home" href="/application/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="createApplication" href="/application/create/">Create Application</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="createGood" href="/application/creategood/">Create Good</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="viewGood" href="/application/goods/">View Goods</a>
      </li>
    </ul>
  </div>
</nav>
<div style="padding-left: 50px;">
    <form action="/application/editapplication/{{ application.id }}/" method="POST">
        Name:<input name="name" value="{{ application.name }}"><br>
        Destination:<input name="destination" value="{{ application.destination }}"><br>
        <!--Goods: <select name="goods" multiple required>
            {% for good in application.goods %}
                <option value="{{ good.id }}">{{ good.name }}</option>
            {% endfor %}
        </select><br><br>-->
        {% for good in application.goods %}
        {% if good.selected %}
            <input type="checkbox" name="goods[]" value="{{good.id}}" checked>{{good.name}}<br>
        {% else %}
            <input type="checkbox" name="goods[]" value="{{good.id}}">{{good.name}}<br>
        {% endif %}
        {% endfor %}
        <input id="edit" type="submit">
    </form><br>
    <form action="/application/deleteapplication/{{ application.id }}/" method="POST">
        <input id="delete" type="submit" class="like" value="Delete">
    </form>
</div>
</body>
</html>