{% extends "base.html" %}
{% block content %}
<h1>Admin Panel</h1>
<h6>To be reviewed;</h6>
    <div class="container">
      <div class="row" id="applications">
        {% for app in applications %}
        {% if app.progress == 'submitted' %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h1 class="card-text" id="app_name">{{ app.name|safe }}</h1>
              <small class="text-muted">{{ app.date|safe }}</small>
              <meter style="width:100%" max="100" low="25" high="75" optimum="100" value="{{ app.progress_percent }}"></meter>
              <p id="progress">Progress: <b>{{ app.progress }}</b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/admin/review/{{ app.id }}/"><button id="review" type="button" class="btn btn-sm btn-outline-secondary">Review</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
</div>
{% endblock %}