{% extends "base.html" %}
{% block content %}
<div style="padding-left: 50px;">
    {% if message %}
      <div class="alert red">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
      </div>
    {% endif %}
    <form action="/applications/create/" method="post" >
        {% csrf_token %}
        <input name="name" required><br><br>
        <input name="destination" required><br><br>
        {% for good in goods %}
        <input type="checkbox" name="goods[]" value="{{good.id}}">{{good.name}}<br>
        {% endfor %}
        <input id="submit" type="submit">
    </form>
</div>
{% endblock %}