{% extends "base.html" %}
{% block content %}
<form action="/applications/edit/{{ application.id }}/" method="POST">
    Name:<input name="name" value="{{ application.name }}" required><br>
    Destination:<input name="destination" value="{{ application.destination }}" required><br>
    {% for good in application.goods %}
    {% if good.selected %}
        <input type="checkbox" name="goods[]" value="{{good.id}}" checked>{{good.name}}<br>
    {% else %}
        <input type="checkbox" name="goods[]" value="{{good.id}}">{{good.name}}<br>
    {% endif %}
    {% endfor %}
    <input id="edit" type="submit">
</form>
<form action="/applications/delete/{{ application.id }}/" method="POST">
    <input id="delete" type="submit" class="like" value="Delete">
</form>
<hr>
{% if application.progress == "declined" %}
<p><b>This application was declined</b></p>
<form action="/applications/submit/{{ application.id }}/" method="POST">
    <input id="resubmit" type="submit" class="like" value="Mark As Resolved">
</form>
{% endif %}
{% endblock %}