{% extends "base.html" %}
{% block content %}
<h1>Welcome to your applications</h1>
    <div class="container">
      <div class="row">
        {% for app in applications %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h1 class="card-text" id="app_name">{{ app.name|safe }}</h1>
              <small class="text-muted">{{ app.date|safe }}</small>
              <meter style="width:100%" max="100" low="25" high="75" optimum="100" value="{{ app.progress_percent }}"></meter>
              <p>Progress: <b>{{ app.progress|capfirst }}</b></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/applications/view/{{ app.id }}/"><button id="view" type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                    <a href="/applications/edit/{{ app.id }}/"><button id="edit" type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                    {% if app.progress == 'draft' %}
                      <a href="/applications/submit/{{ app.id }}/"><button id="submit" type="button" class="btn btn-sm btn-outline-secondary">Submit</button></a>
                    {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
</div>
{% endblock %}