{% extends "base.html" %}
{% block content %}
<div style="padding-left: 50px;">
  <h1 id="name">{{ application.name }}</h1>
  <h4 id="date">{{ application.date }}</h4>
  <h4 id="destination">{{ application.destination }}</h4>
  <h4 id="progress">Progress:{{ application.progress }}</h4>
  <h2 id="goods">Goods;</h2>
  <ul id="goods_list">
  {% for good in application.goods %}
  <li>{{ good.name }}</li>
  {% endfor %}
  </ul>
  <hr>
  <div>
    <a href="/admin/reject/{{ application.id }}/"><button id="reject">Reject</button></a>
    <a href="/admin/accept/{{ application.id }}/"><button id="accept">Accept</button></a>
  </div>
</div>
{% endblock %}